extends layout

block content
  if currentUser
    h1 WELCOME #{currentUser.username}
  else
  if currentUser && currentUser.membership
    form(action="/message", method="GET")
      button.create-message(type="submit") Create message
  else if currentUser && !currentUser.membership
      p.join-message Join now to create messages!
  each message in messages
    include message_card.pug