doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.navbar
      a(href='/')
        h1 Home
      div.buttons
        if currentUser && !currentUser.membership
          form(action="/join-club", method="GET")
            button(type="submit") Join Club
        if !currentUser
          form(action="/login", method="GET")
            button(type="submit") Login
          form(action="/signup", method="GET")
            button(type="submit") SignUp
        else
          form(action="/logout", method="POST")
            button(type="submit") Logout
    div.content
      block content