.card
  if currentUser
    .username
      h3 !{message.username}
  .message
    p !{message.message}
  if currentUser
    .timestamp
      p !{message.timestamp}
  if currentUser && currentUser.admin
    form(action=`/message/${message._id}/delete`, method="POST")
      button(type="submit") Delete